			html{
				height: 100%;
			}
			body{
				height: 100%;
			}
			.box{
							 width:100%;
							 height: 100%;
							 background: #F3F3F3;
							 padding-top: 1px;
							 box-sizing: border-box;
						 }
			.dly{
				width:1200px;
				height:533px;
				margin:6% auto 0;
				display: flex;
				flex-direction: row; 
				position:relative;
			}
			.dly_left{
				width:666px;
				height:533px;
				background: url(http://localhost:8894/user-consumer/templates/img/dl.png) no-repeat;
				background-size:666px 533px;
			}
			.dly_right{
				width:534px;
				height:533px;
				background: #f8f8f8;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.dly_right>.tit{
				font-size: 22px;
				color: #000;
				padding-top: 50px;
				padding-bottom: 20px;
				text-align: center;
			}
			.zc_username,.zc_password{
				width: 300px;
				height:24px;
				padding-top:30px;
				padding-bottom: 16px;
				border-bottom: 1px solid #e9e9e9;
				position: relative;
			}
			.zc_tit{
				font-size: 18px;
				color:rgba(102,102,102,.8);
				line-height: 24px;
			}
			.username,.pass_word,.userSex{
				width: 170px;
				height: 24px;
				margin-left: 20px;
				border: 0px solid #000000;
				outline: none;
				font-size: 16px;
				line-height: 24px;
				background: rgba(255,255,255,0);
			}
			.error{
				position: absolute;
				left: 0;
				top:64px;
				font-size: 12px;
			}
			.cstyle a{
				width: 300px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				text-decoration: none;
			}
			.btn-ty{
				width: 300px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				color: #FFFFFF;
				font-size: 16px;
				background: #E53140;
				border-radius: 4px;
				margin-top: 58px;
				border: 0px solid;
				outline: none;
				cursor: pointer;
			}
			.thirdParty_tit{
				font-size: 12px;
				color:rgba(153,153,153,.8);
				padding-top: 50px;
				padding-bottom: 20px;
			}
			.box_thirdParty{
				display: flex;
				flex-direction: row;
				width: 224px;
				padding-top: 10px;
			}
			.weiXin,.weiBo,.qq{
				width: 40px;
				height: 40px;
				cursor: pointer;
			}
			.qq{
				margin: 0 52px;
			}
			.weiXin img,.weiBo img,.qq img{
				width: 100%;
				height: 100%;
			}